.image-one-box {
  position: relative;
}

.image-one {
  height: 700px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 40px;
}

.image-one-topleft {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 300px;
  color: white;
  font-size: 17px;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  text-align:start;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.image-one-bottom-left {
  display: flex;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 50px;
  padding: 7px 25px 7px 20px;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.image-onepoint-twobox {
  display: flex;
  justify-content: center;
}

.image-onepoint-two {
  height: 80px;
  border-radius: 18px;
  margin-right: 20px;
}

.imageone-text-one {
  font-weight: 700;
}

.imageone-text-two {
  width: 280px;
  margin-top: 4px;
}

.imageone-bottomright {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.ACC {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.ACC button {
  border: none;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  color: #ECEAE8;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 13px;
}

.sales-one {
  padding: 13px 8px;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
  color: #ECEAE8;
}

.sales-one-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sales-one-discount {
  font-size: 13px;
}

.fragrance-one {
  font-weight: 700;
  font-size: 20px;
  width: 160px;
  line-height: 20px;
  margin-bottom: 15px;
}

.arrow {
  background-color: white;
  border-radius: 20px;
  height: 15px;
  padding: 5px 5px;
}

.siren-box {
  background-color: white;
  border-radius: 10px;
}

.siren-image {
  height: 200px;
  padding-left: 25px;
}

/*quote CSS section*/

.brand-quote {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
}

.brand-mission {
  font-size: 15px;
}

.quote-right-box {
  width: 700px;
}

.quote-one {
  font-size: 25px;
}

.learnmore-button {
  padding: 10px 18px;
  border-radius: 20px;
  background-color: white;
  border-width: 2px;
  border-color: rgb(146, 103, 198);
  border-style: solid;
  margin-top: 25px;
}

/*Product session*/

.whole-product-box {
  display: flex;
  justify-content: space-between;
}

.product-box-one {
  background-color: #f5f5f5;
  padding: 10px 8px 8px 8px;
  border-radius: 20px;
}

.name-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.image-container {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 5px;
}

.image-container img {
  height: 250px;
  width: 285px;
  object-fit: cover;
}

/*buttom*/
.bottom-box {
  position: relative;
  width: 100%;
}

.pink-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink-image {
  height: 600px;
  width: 2000px;
  object-fit: cover;
}

.productimage-box {
  position: absolute;
  object-fit: cover;
  bottom: -120px;
  right: 400px;
  display: flex;
}

.productimage {
  height: 500px;
}

/*bottom tag*/

.tag {
  position: absolute;
  width: 230px;
  bottom: -100px;
  left: 250px;
}

.ACC-TWO {
  display: flex;
  justify-content: space-between;
}

.ACC-TWO button {
  border: none;
  background-color: rgba(193, 193, 193, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 13px;
}

.main-tag {
  background-color: rgba(193, 193, 193, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  margin-top: 5px;
  border-radius: 20px;
  padding: 6px 7px 10px 13px;
}

.product-purpose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-purpose  div {
  font-size: 13px;
}

.product-purpose .arrow {
  height: 20px;
}

.anti-aging-mask {
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  line-height: 18px;
}

.buy-now-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-tag button {
  background-color: rgba(193, 193, 193, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 18px;
  border-width: 1px;
  border-radius: 20px;
}